* {
  text-align: center;
  height: 85vmin;
  overflow: hidden;
  margin: auto;
}

/* canvas {
  border: 1px solid black;
  background-image: url(Gambar/MD.png);
 
} */


.back {
  position: absolute;
  top: -15rem;
  left: 10%;
  padding: 0.5em 0.5em;
}

.reset {
  position:fixed;
  right: 39rem;
  height: 3.5rem;
  top: 39rem;
  
}

body {
  background-color: blue;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  border: 9px solid black;
}